@import "../../styles/custom.scss";

.pagination {
  padding: 40px 20px;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $s-breakpoint) {
    .page-link {
      padding: 0.1rem 0.5rem;
    }
  }
}