@import "../../styles/custom.scss";

.cartCard-container {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;

  .cartCard-data-container {
    display: flex;

    img {
      height: 100px;
      margin-right: 10px; 
    }

    .cartCard-data {
      span {
        font-size: .8em;
        color: $dark-gray;
        font-weight: normal;
      }
    }
  }

  .cartCard-controls {
    display: flex;
    flex-direction: column;
    
    h4 {
      text-align: end;
    }

    &>button {
      &:last-child {
        margin: 5px 0;
      }
    }
  }
}