@import "../../styles/custom.scss";

.form__item {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .form__item__input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    &:focus {
      outline: none;
    }

    &.error {
      border: 1px solid $danger;
    }
  }

  .form__item__span.error {
    color: $danger;
  }
}