@import "../../styles/custom.scss";

.form {
  width: 80%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  
  .form__header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    h5 {
      margin: 0;
    }
  }

  .form__body {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .form__body__cardInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media only screen and (max-width: $m-breakpoint) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  button {
    align-self: center;
  }
}