.checkout-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;

  h3 {
    align-self: start;
    margin-bottom: 30px;
  }

  .checkout-list {
    width: 80%;
  }
}